@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap);
#home,
.about,
.abt-txt,
.ftr-end,
.mail-div,
.sponser,
.sub-box {
  align-content: center;
}
.discover-img h2,
.places-row h3,
.sub-box h2,
button,
h2 {
  color: #fff;
}
.main,
html {
  overflow-x: hidden;
}
.burger-menu span,
button:hover {
  background-color: #821131;
}
#home,
.bg-img {
  background-position: center;
  background-repeat: no-repeat;
}
.abt-img1,
.abt-img2,
.lg,
.sm {
  aspect-ratio: 2/3;
}
.nav-logo,
.nav-ul,
.price,
button,
h1,
h2,
h3 {
  font-weight: 600;
}
#scroll-to-top,
.burger-menu,
.nav-ul,
.social a,
button {
  cursor: pointer;
}
html.sr .load-hidden {
  visibility: hidden;
}
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #e6dfca;
}
::-webkit-scrollbar-thumb {
  background-color: #bfb3a8;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a7987e;
}
.header,
.nav-ul.show {
  background-color: #fff;
  width: 100%;
}
.sub-box,
button {
  background-color: #c7253e;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: #fff0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 4.5rem 0 0;
  font-family: "Open Sans", sans-serif;
  font-size: 0.938rem;
}
h1,
h2,
h3 {
  font-family: Raleway, sans-serif;
}
h2 {
  font-size: 1.75rem;
}
.nav-ul li a:hover,
p {
  color: #c7253e;
}
.title {
  color: #821131;
}
p {
  font-size: 16px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img,
video {
  max-width: 100%;
  height: auto;
}
button,
input {
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 0.938rem;
}
button {
  display: inline-block;
  padding: 1rem 2rem;
  transition: 0.3s;
}
input {
  outline: 0;
}
.section {
  padding: 4.5rem 0 2.5rem;
}
.section-title {
  font-size: 1.25rem;
  color: #380500;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.container {
  max-width: 1100px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0 2rem;
}
.home,
.nav {
  justify-content: space-between;
  margin: auto;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.abt-imgs,
.home,
.nav,
.nav-ul,
.places-grid,
.social {
  display: flex;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: border-color 1s;
  border-bottom: 1px solid #fff0;
}
.bg-img {
  background-size: 100% auto;
  transition: background-size 0.5s ease-in-out;
}
.bg-img:hover {
  background-size: 110% auto;
}
.nav {
  height: 4.5rem;
  align-items: center;
}
.nav-logo {
  font-size: 1.3rem;
  color: #821131;
}
.nav-logo i {
  color: #821131;
  font-size: 1.5rem;
}
.nav-ul {
  font-size: 1rem;
  flex-direction: row;
  column-gap: 4rem;
}
.burger-menu,
.nav-ul.show {
  display: none;
  position: absolute;
}
.nav-ul li a {
  padding: 0.5rem;
  border-bottom: 3px solid #fff0;
  transition: 0.4s;
  color: #821131;
}
.nav-ul li a.active {
  color: #c7253e;
  border-bottom: 3px solid #c7253e;
}
.nav-ul.show {
  top: 4.5rem;
  right: 0;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}
.nav-ul.show li {
  display: block;
  margin-bottom: 1rem;
}
.nav-ul.show li a {
  display: block;
  padding: 0.5rem;
  border-bottom: none;
  border-left: 3px solid #fff0;
}
.nav-ul.show li a.active {
  border-left: 3px solid #c7253e;
}
.nav-ul.show li a:hover {
  background-color: #f9f9f9;
}
.burger-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.burger-menu span {
  display: block;
  width: 20px;
  height: 2px;
  margin-bottom: 5px;
  transition: 0.3s;
}
.burger-menu span:nth-child(2) {
  width: 16px;
  margin-left: 2px;
}
.burger-menu.active span:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}
.burger-menu.active span:nth-child(2) {
  opacity: 0;
}
.burger-menu.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
#home {
  margin: -4.5rem 0 0;
  width: 100%;
  padding: 4.5rem 0;
  min-height: 100dvh;
  background-image: linear-gradient(
      to top,
      transparent 0,
      #ffffffbd 70%,
      #fff 90%
    ),
    url(../img/bg.jpg);
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.home {
  align-items: center;
}
.home-data {
  width: 100%;
}
.home-data h3 {
  font-size: 16px;
  font-weight: 800;
  color: #821131;
}
.home-data h1 {
  margin-top: 1rem;
  font-size: 64px;
  color: #c7253e;
  margin-bottom: 3rem;
}
.home-data h1 b {
  color: #821131;
  font-weight: 900;
}
.social {
  margin-top: 5rem;
  width: 130px;
  justify-content: space-between;
}
.social a {
  color: #821131;
  font-size: 1.3rem;
}
#about,
#discover,
#footer,
#places {
  padding: 4.5rem 0 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.about,
.discover-imgs {
  flex-wrap: wrap;
  display: flex;
}
.about {
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
.abt-imgs,
.abt-txt {
  margin-top: 6.5rem;
  width: 500px;
  height: 450px;
}
.discover-img,
.places-row {
  align-content: end;
  color: #fff;
}
.abt-txt h2 {
  margin: 0 0 24px;
}
.abt-txt p {
  margin: 0 0 32px;
}
.abt-imgs {
  align-items: center;
  justify-content: space-between;
}
.abt-img1 {
  width: 40%;
}
.abt-img2 {
  width: 55%;
}
.discover,
.footer,
.places {
  margin: auto;
  justify-content: center;
  text-align: center;
}
.discover h2,
.places h2 {
  margin-top: 2.5rem;
}
.discover-imgs {
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  width: 80%;
}
.discover-img {
  margin-top: 65px;
  text-align: left;
  cursor: grab;
  padding: 0 0 20px 15px;
  font-size: 0.813rem;
}
.sm {
  width: 220px;
}
.lg {
  width: 240px;
}
.places-grid {
  padding: 0 18%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.places-row {
  margin-top: 30px;
  width: 200px;
  aspect-ratio: 2/2.5;
  position: relative;
  text-align: left;
  padding-left: 15px;
}
.arrow {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px 15px;
}
.state {
  font-size: 12px;
  color: #fff;
}
.price {
  color: #fff;
  font-size: 16px;
  line-height: 55px;
}
.sub-box {
  width: 100%;
  height: 350px;
  padding: 0 25%;
}
.email,
.mail-div {
  padding: 8px;
  width: 100%;
}
.sub-box p {
  margin: 35px 0;
  color: #fff;
}
.mail-div {
  position: relative;
  background-color: #fff;
  align-items: center;
}
.social-icons,
.sponser {
  justify-content: space-between;
}
.email {
  height: 52px;
  float: left;
}
.email::placeholder {
  color: #c7253e;
}
.sub-btn {
  position: absolute;
  right: 0;
  margin-right: 8px;
  display: block;
}
.sponser {
  padding: 100px 50px 80px;
  width: 100%;
  row-gap: 3.5rem;
  display: flex;
  flex-wrap: wrap;
}
.sponser-div {
  height: 30px;
  width: 100px;
  margin: 0 20px;
  justify-items: center;
  justify-content: center;
  row-gap: 3.5rem;
}
.sponser-div img {
  filter: invert(0.7);
  transition: 0.3s ease-in-out;
}
.sponser-div img:hover {
  filter: invert(0.4);
}
.ft-container {
  text-align: left;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding: 20px 0;
}
.ft-container h2 {
  color: #821131;
  margin-bottom: 10px;
}
.ft-container ul {
  margin: 0 50px 0 0;
}
.ft-container ul li {
  margin-top: 15px;
  font-size: 16px;
}
.ft-container a,
.terms a {
  color: #c7253e;
  text-decoration: none;
}
.ft-container p {
  color: #c7253e;
}
.social-icons {
  margin-top: 20px;
  display: flex;
  width: 75%;
  color: #821131;
  font-size: 18px;
}
.copy,
.terms {
  width: 48%;
}
.copy,
.ftr-end {
  color: #c7253e;
  text-align: left;
}
.ftr-end {
  padding: 10px;
  justify-content: space-between;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0 15px;
}
.terms {
  text-align: right;
}
#scroll-to-top {
  position: fixed;
  bottom: 10vh;
  right: 20px;
  z-index: 1;
  padding: 0.5rem 0.8rem;
  font-size: 14px;
  color: #fff;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -o-transition: 0.2s linear;
}
#scroll-to-top.hidden {
  opacity: 0;
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .ftr-end {
    justify-content: space-evenly;
  }
  .sponser {
    justify-content: space-evenly;
    padding: 50px 0 20px;
  }
  .abt-imgs,
  .abt-txt {
    margin-top: 0;
    text-align: center;
    height: 350px;
  }
  .column {
    padding-right: 50px;
    margin-top: 50px;
  }
  .sm {
    width: 240px;
  }
  .sponser-div {
    margin: 0 10px;
  }
  .sub-box {
    padding: 0 5%;
  }
  .copy,
  .terms {
    line-height: 30px;
    text-align: center;
    width: 100%;
  }
  .nav-ul {
    display: none;
  }
  .burger-menu,
  .nav-ul.show {
    display: block;
  }
  .home-data h1 {
    font-size: 48px;
  }
  .social {
    margin-top: 2rem;
  }
}
.slide-left {
  animation: 1.5s SlideLeft;
}
@keyframes SlideLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-right {
  animation: 1.5s SlideRight;
}
@keyframes SlideRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-down {
  animation: 1.5s SlideDown;
}
@keyframes SlideDown {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-up {
  animation: 1.5s SlideUp;
}
@keyframes SlideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.zoom-in {
  animation: 1.5s ZoomIn;
}
@keyframes ZoomIn {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
